<html>
    <head>
        <title>Car Details</title>
    </head>
    <body style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
        <div style="background-color: aquamarine; border: blueviolet; display: flex; flex-direction: column; gap: 30px; padding: 20 20;">
            <label>
                <strong>Name:</strong> {{name}} <br>
                <strong>Roll Number:</strong> {{rollno}} <br>
                <strong>Subject:</strong> {{subject}} <br>
            </label>
            <a href="/sessApp/">
                <button>Go to Home</button>
             </a>
        </div>
    </body>
</html>
