<html>
    <head>
        <title>Student Details</title>
    </head>
    <body style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
        <div style="background-color: aquamarine; border: blueviolet; display: flex; flex-direction: column; gap: 30px; padding: 20 20;">
            <label>
                Welcome <strong> {{username}} </strong> <br>
                Email ID: <strong> {{email_id}} </strong> <br>
                Contact Number: <strong> {{contact_number}} </strong> <br>
            </label>
            <a href="/registerApp/">
                <button>Go to Home</button>
             </a>
        </div>
    </body>
</html>
